.head {
    position: relative;
    display: flex;

    .needDown {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            right: -21px;
            top: -3px;
            background: url(../../assets/img/icondown.png);
            background-size: 20px 20px;
        }

    }

    a{
        color:white;
    }

    .headIcon {
        padding: 10px 0 0 10px;
        float: left;

        img {
            position: relative;
            top: 4px;
            width: 36px;
        }

        div {
            font-size: 22px;
            font-weight: bold;
            color: white;
            position: relative;
            top: 7px;
            left: 5px;
        }

        img,
        div {
            display: inline-block;
            vertical-align: top;
        }
    }


    .rightHead {
        position: absolute;
        right: 50px;
        top: 24px;
        float: right;

        img,
        div {
            display: inline-block;
            vertical-align: top;
        }

        div {
            color: #d1d1d1;
            font-size: 14px;
            line-height: 21px;
        }

        img {
            width: 18px;
        }

        img:nth-child(2) {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .leftHead {
        position: relative;
        left: 50px;
        top: 21px;
        float: left;

        .leftItem {
            display: inline-block;
            vertical-align: top;
            color: #d1d1d1;
            font-size: 14px;
            margin-right: 40px;
            cursor: pointer;

        }
    }
}